.image{
width:461px;
}
.cards{
display:flex;
}
.main{
background:black;
color:white;
width:35%;
margin: 0% auto;
}
.main2{
margin:0% 0%;
}
.main h4{
 padding:0%  4%;
  font-size:30px;
}
.reference{
margin:4%  7%;
text-align:center;
}
.reference hr{
 width:79%; 
 height:2px;
 background:rgb(255,167,0);
  margin:2% 27%;
}


.boxs1{
display:flex;

}

.boxs2{
display:flex;
}
.boxs3{
display:flex;
}
.boxs4{
display:flex;
}
.box1{
background-color:rgb(255,167,0);
height:30px;
width:120px;
backgroun:rgb(255,167,0);
}
.box2{
background-color:rgb(255,167,0);
height:30px;
width:120px;
backgroun:rgb(255,167,0);
}
.box3{
background-color:rgb(255,167,0);
height:30px;
width:120px;
backgroun:rgb(255,167,0);
}
.box4{
background-color:rgb(255,167,0);
height:30px;
width:120px;
backgroun:rgb(255,167,0);
}
.titl{
margin:0% auto;
background: rgb(255,167,0);
height:15%;
font-size:30px;
}

.list-2 {
margin:7%  4%;

}
.main p{
margin:7% 0%;
}
span{
color:black;
font-weight: bold;
}

p{
margin:7% 0%;
font-size:20px;
}
.main2{
width:65%;

}

.education{
text-align:center;
margin:4%;
}
.education h4{
}
.education h5{
margin:0%;

}
.list-2 h5{
margin:0%;
}
.reference{
margin:2%;
}

.reference h5{
margin:11%  7%;
font-size:25px;
}
.education h5{
font-size:20px;
margin:7%;
}
hr{
position:relative;
 width:85%; 
 height:3px;
 background: rgb(255,167,0);
  margin:4% 24%;
}

.boxs1 h5{
 margin:1% -2%;
}
.boxs2 h5{
 margin:1% -5%;
}
.boxs3 h5{
 margin:1.5% -1%;
}
.boxs4 h5{
 margin:2% -10%;
}
.list-3{ 
 text-align:center;
 font-size:25px;
 margin:7% 0%;
 padding:17% 0%;
}

.main2 h4{
 margin:0% 7%;
padding:0% 2%;
}
h1{
margin:0% 7%;
font-family:sans-serif;
color:rgb(105,105,105);
font-weight: lighter;
padding:7%  2%;
}
.about hr{
width:80%;
margin:2% 8%;
background:gray;
}
.about h3{
position:relative;
font-size:25px;
margin:2% 8%;
}
.main2 p{
    margin:7% 7%;
    
}
.about h5{
font-size:18px;
 margin:2% 0%;
 padding:-2%;

}
.expe17{
display:flex;
}
.expe14{
display:flex;
}
.expe12{
display:flex;
}
.expe12 h5{
margin: 7%;
text-overflow: ellipsis;
white-space: nowrap;
}
.expe14 h5{
margin: 7%;
text-overflow: ellipsis;
white-space: nowrap;
}
.expe17 h5{
margin: 7%;
text-overflow: ellipsis;
white-space: nowrap;

}
.job1{
margin:0;
padding:0;
}

h6{
margin:7%;
font-size:15px;
}

.footer h3{
position:relative;
font-size:25px;
margin:7% 7%;
}
.footer hr{
width:100%;
margin:0% 0%;
background:gray;
}
.skill{
position:relative;
display:flex;
text-decoration:none;
margin:1% 7%;
justify-content:center;

padding:1% 2%;
margin:3% 5%;
}
.adobe li{
position:relative;
 list-style:none;
 text-decoration: none;
 padding:0% 0%;
margin:1% 0%;
}
.microsoft li{
position:relative;
 list-style:none;
 text-decoration: none;
 margin:1% 0%;
 padding:0% 0%;
}

.skill hr{
width:100%;
margin:0%;
background: linear-gradient(to right,
 rgb(85,85,85) 70%, 
rgb(169,169,169) 30%,
 rgb(169,169,169)100%);

}

